{% extends "base.html" %}

{% block content %}
  <h3 class="text-center m-4">Добавить Студента</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      Добавлен новый студент
      <a href="{% url 'home' %}" class="alert-link">Домой</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> Регистрация студента
          </div>
          <div class="card-body">
            <form action="{% url 'add-student' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Добавить</button>
              <a href="{% url 'home' %}" class="btn btn-secondary">Отмена</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}